.registration {
    border-radius: 30px;
    padding: 16px 54px;
    width: 225px;
    height: 52px;
    background-color: #f9f9f9;

    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;

    line-height: 20px;

    letter-spacing: 0.02em;
    color: #1f1f1f;
}

.login {
    border-radius: 30px;
    width: 166px;
    height: 52px;

    background-color: #f9f9f9;


    font-weight: 700;
    font-size: 20px;

    line-height: 20px;

    letter-spacing: 0.02em;
    color: #1f1f1f;
}

.logout {
    border: 1px solid rgba(249, 249, 249, 0.2);
    border-radius: 30px;

    width: 114px;
    height: 42px;

    background-color: #1f1f1f;


    font-weight: 700;
    font-size: 16px;


    line-height: 1.13;
    letter-spacing: 0.02em;
    color: #f9f9f9;
}