.logoWrapper {
    display: flex;
    gap: 4px;
    align-items: center;

    svg {
        display: block;
        fill: aliceblue;
    }
}

.logoText {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;

    line-height: 1;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #f9f9f9;

}